Package: lightdm-parrot
Version: 2.4+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 731
Depends: lightdm
Replaces: lightdm, lightdm-gtk-greeter
Section: parrot
Priority: optional
Homepage: http://www.parrotsec.org/
Description: lightdm login theme (testing)
 This package provides the FrozenBox OS theme for LightDM Display Manager (login screen)
