Package: lightdm-parrot
Version: 2.0-parrot1
Architecture: all
Maintainer: Lorenzo EclipseSpark Faletra <eclipse@frozenbox.org>
Installed-Size: 160
Depends: lightdm
Replaces: lightdm, lightdm-gtk-greeter
Section: X11
Priority: optional
Description: lightdm login theme (testing)
 This package provides the FrozenBox OS theme for LightDM Display Manager (login screen)
