Source: lightdm-parrot
Section: parrot
Priority: optional
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>,
           Lisetta "Sheireen" Ferrero <sheireen@frozenbox.org>
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 11)
Homepage: https://parrotsec.org

Package: lightdm-parrot
Architecture: all
Depends: lightdm, slick-greeter
Replaces: lightdm, slick-greeter, lightdm-gtk-greeter
Description: lightdm login theme for Parrot OS
 This package provides the Parrot OS theme for LightDM Display Manager (login screen)
